@media (min-width:320px) and (max-width:425px) {
    .body{
         width: 100px;
    }
    #bg-img{
        width: 100%;
    }
    .nav a{
        float:none;
        width: 100%;
    }
    
}
.nav{
    margin-left: 10%;
    font-size: 20px;
}
.nav-link:hover{
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 10px;
}
.bg-img{
    background-image: url('photos/bg.jpg');
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
.nav-link{
    color: whitesmoke;
    font-family:cursive;
}
.nav-link:hover{
    color: black;
}
.button{
    background-color: white;
    border: 1 px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 12%;
}
.button:hover{
    background-color: wheat;

}
.img{
    transition: transform .2s;
}
.img:hover{
    transform: scale(.9);
}
.image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image:hover{
    opacity: 0.5;
    cursor: pointer;
}

